body{
    background-color: rgb(254, 254, 254);
}

#first-page{
   background-image: url(wallpaper.jpg);
   color:transparent;
 
   height: 110vh;
}

.animated-slogan {
  font-size: 3em;
  color: #4e48e2;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif


}


#first-page h1{
     margin-left: 250px;
     
}
#cover img {
  width: 200px;
  border-radius: 10px;
  margin-top: 15px;
}


footer{
    background-color: black;
    color: aliceblue;
    text-align: center;


}
.fa-facebook {
  font-size: 30px;
  color: #1877F2; /* Facebook blue */
  margin: 10px;
  transition: 0.3s;
}

.fa-facebook:hover {
  color: #0d47a1;
}


/* Hamburger icon (hidden on desktop) */
.icon {
  display: none;
  float: right;
  padding: 14px 20px;
  cursor: pointer;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .navbar a { 
    float: none;
    display: none; /* hide links */
    text-align: left;
  }
  .navbar.responsive {position: relative;}
  .navbar.responsive a {
    display: block; /* show links when menu opens */
  }
  .icon {
    display: block;
    color: white;
  }}